In [1]:
library(dplyr)
mydb <- src_sqlite("database.sqlite",create = F)
mydb

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

src:  sqlite 3.11.1 [database.sqlite]
tbls: Country, League, Match, Player, Player_Attributes, Team, Team_Attributes,
  sqlite_sequence

In [8]:
League <- tbl(mydb,"League")
head(League)

Source:   query [?? x 3]
Database: sqlite 3.11.1 [database.sqlite]

     id country_id                   name
  <int>      <int>                  <chr>
1     1          1 Belgium Jupiler League
2  1729       1729 England Premier League
3  4769       4769         France Ligue 1
4  7809       7809  Germany 1. Bundesliga
5 10257      10257          Italy Serie A
6 13274      13274 Netherlands Eredivisie

In [9]:
Match <- tbl(mydb,"Match")
head(Match)

Source:   query [?? x 115]
Database: sqlite 3.11.1 [database.sqlite]

     id country_id league_id    season stage                date match_api_id
  <int>      <int>     <int>     <chr> <int>               <chr>        <int>
1     1          1         1 2008/2009     1 2008-08-17 00:00:00       492473
2     2          1         1 2008/2009     1 2008-08-16 00:00:00       492474
3     3          1         1 2008/2009     1 2008-08-16 00:00:00       492475
4     4          1         1 2008/2009     1 2008-08-17 00:00:00       492476
5     5          1         1 2008/2009     1 2008-08-16 00:00:00       492477
6     6          1         1 2008/2009     1 2008-09-24 00:00:00       492478
# ... with 108 more variables: home_team_api_id <int>, away_team_api_id <int>,
#   home_team_goal <int>, away_team_goal <int>, home_player_X1 <int>,
#   home_player_X2 <int>, home_player_X3 <int>, home_player_X4 <int>,
#   home_player_X5 <int>, home_player_X6 <int>, home_player_X7 <int>,
#   home_player_X8 <int>, home_player_X9 <int>, home_player_X10 <int>,
#   home_player_X11 <int>, away_player_X1 <int>, away_player_X2 <int>,
#   away_player_X3 <int>, away_player_X4 <int>, away_player_X5 <int>,
#   away_player_X6 <int>, away_player_X7 <int>, away_player_X8 <int>,
#   away_player_X9 <int>, away_player_X10 <int>, away_player_X11 <int>,
#   home_player_Y1 <int>, home_player_Y2 <int>, home_player_Y3 <int>,
#   home_player_Y4 <int>, home_player_Y5 <int>, home_player_Y6 <int>,
#   home_player_Y7 <int>, home_player_Y8 <int>, home_player_Y9 <int>,
#   home_player_Y10 <int>, home_player_Y11 <int>, away_player_Y1 <int>,
#   away_player_Y2 <int>, away_player_Y3 <int>, away_player_Y4 <int>,
#   away_player_Y5 <int>, away_player_Y6 <int>, away_player_Y7 <int>,
#   away_player_Y8 <int>, away_player_Y9 <int>, away_player_Y10 <int>,
#   away_player_Y11 <int>, home_player_1 <int>, home_player_2 <int>,
#   home_player_3 <int>, home_player_4 <int>, home_player_5 <int>,
#   home_player_6 <int>, home_player_7 <int>, home_player_8 <int>,
#   home_player_9 <int>, home_player_10 <int>, home_player_11 <int>,
#   away_player_1 <int>, away_player_2 <int>, away_player_3 <int>,
#   away_player_4 <int>, away_player_5 <int>, away_player_6 <int>,
#   away_player_7 <int>, away_player_8 <int>, away_player_9 <int>,
#   away_player_10 <int>, away_player_11 <int>, goal <chr>, shoton <chr>,
#   shotoff <chr>, foulcommit <chr>, card <chr>, cross <chr>, corner <chr>,
#   possession <chr>, B365H <dbl>, B365D <dbl>, B365A <int>, BWH <dbl>,
#   BWD <dbl>, BWA <dbl>, IWH <dbl>, IWD <dbl>, IWA <dbl>, LBH <dbl>,
#   LBD <dbl>, LBA <dbl>, PSH <dbl>, PSD <dbl>, PSA <dbl>, WHH <dbl>,
#   WHD <dbl>, WHA <dbl>, SJH <dbl>, SJD <dbl>, SJA <int>, VCH <dbl>, ...

In [10]:
library(tidyr)
test <- data.frame(Match %>%
  select(home_player_1 : away_player_11,league_id) )%>%
  gather(player, player_api_id,-league_id, na.rm = TRUE)

result <-test %>% 
group_by(player_api_id)%>% 
summarise(appearences=n(),LeagueNum=n_distinct(league_id))

arrange(result, desc(appearences))

      player_api_id appearences LeagueNum
1     31293         300         1
2     41097         294         1
3     33764         286         1
4     42422         286         1
5     26295         282         2
6     31465         282         1
7     31432         275         1
8     26168         268         1
9     26399         262         1
10    94550         260         2
11    30893         259         2
12    23782         258         1
13    38433         257         3
14    41658         257         1
15    27299         255         1
16    32575         254         1
17    23792         253         2
18    40695         253         1
19    42276         253         1
20    56678         252         1
21    24846         251         1
22    30859         251         1
23    38424         250         1
24    30660         249         3
25    30981         249         1
26    32569         248         2
27    39477         247         1
28    41466         247         2
29    30907         245         3
30    34447         245         1
⋮     ⋮             ⋮           ⋮
11031 661509        1           1
11032 662818        1           1
11033 664961        1           1
11034 667786        1           1
11035 667952        1           1
11036 667964        1           1
11037 667970        1           1
11038 670927        1           1
11039 671518        1           1
11040 674492        1           1
11041 675088        1           1
11042 680031        1           1
11043 684723        1           1
11044 687572        1           1
11045 689987        1           1
11046 690290        1           1
11047 703659        1           1
11048 710807        1           1
11049 715642        1           1
11050 716998        1           1
11051 717270        1           1
11052 725718        1           1
11053 728414        1           1
11054 728478        1           1
11055 730065        1           1
11056 742405        1           1
11057 743720        1           1
11058 744907        1           1
11059 750435        1           1
11060 750584        1           1

In [11]:
home <- data.frame(Match %>%
  select(home_team_api_id,home_team_goal) ) %>%
  group_by(team_api_id=home_team_api_id) %>%
  summarise(goals=sum(home_team_goal))

away <- data.frame(Match %>%
  select(away_team_api_id,away_team_goal) ) %>%
  group_by(team_api_id=away_team_api_id) %>%
  summarise(goals=sum(away_team_goal))

team_goals <- inner_join(x = home,y = away,by = "team_api_id")
total <- team_goals %>%
 group_by(team_api_id) %>%
 summarise(goals=goals.x+goals.y)

total

    team_api_id goals
1   1601        280
2   1773        126
3   1957        287
4   2033        138
5   2182        372
6   2183        184
7   2186        235
8   4049         35
9   4064         27
10  4087        180
11  4170         31
12  6269         34
13  6351         28
14  6367         27
15  6391         37
16  6403        292
17  6413        204
18  6421         55
19  6433         74
20  6493        128
21  6547         29
22  6601         38
23  6631         24
24  7730         99
25  7788        119
26  7794        165
27  7819        220
28  7841        248
29  7842        167
30  7844        300
⋮   ⋮           ⋮
270  10214      332
271  10215      240
272  10217      366
273  10218      154
274  10219      153
275  10228      470
276  10229      492
277  10233      392
278  10235      489
279  10238      238
280  10242       71
281  10243      468
282  10249      344
283  10251      259
284  10252      335
285  10260      582
286  10261      324
287  10264      398
288  10265      332
289  10267      484
290  10268       65
291  10269      415
292  10278       36
293  10281      170
294 108893       21
295 158085      101
296 177361       33
297 188163       34
298 208931       37
299 274581       71

In [12]:
Team <- tbl(mydb,"Team")
Teamname <-Team %>%
select(team_api_id, team_long_name)
Teamname

Source:   query [?? x 2]
Database: sqlite 3.11.1 [database.sqlite]

   team_api_id    team_long_name
         <int>             <chr>
1         9987          KRC Genk
2         9993      Beerschot AC
3        10000  SV Zulte-Waregem
4         9994  Sporting Lokeren
5         9984 KSV Cercle Brugge
6         8635    RSC Anderlecht
7         9991          KAA Gent
8         9998         RAEC Mons
9         7947     FCV Dender EH
10        9985 Standard de Liège
# ... with more rows

In [13]:
Team_Attributes <- tbl(mydb,"Team_Attributes")
Tattributes <-Team_Attributes %>%
mutate(Play=buildUpPlaySpeed + buildUpPlayDribbling+ buildUpPlayPassing,Creation=chanceCreationPassing+chanceCreationCrossing+chanceCreationShooting, Defense=defencePressure+defenceAggression+defenceTeamWidth) %>%
select(team_api_id, Play, Creation,Defense)
Tattributes

Source:   query [?? x 4]
Database: sqlite 3.11.1 [database.sqlite]

   team_api_id  Play Creation Defense
         <int> <int>    <int>   <int>
1         9930    NA      180     150
2         9930   156      181     145
3         9930   142      181     145
4         8485    NA      210     200
5         8485    NA      153     146
6         8485    NA      170     140
7         8485    NA      145     144
8         8485   184      181     143
9         8485   176      186     157
10        8576    NA      135     130
# ... with more rows

In [20]:
new_team <-inner_join(x = Teamname,y = Tattributes,by = "team_api_id")
final_team <-inner_join(x = data.frame(new_team),y =total,by = "team_api_id")
#final_team <-aggregate(cbind(Play,Creation,Defense,goals) ~ team_api_id + team_long_name, final_team, max)
write.csv(final_team,"team.csv")

In [34]:
Player <- tbl(mydb,"Player")
name <-Player %>%
select(player_api_id, player_name)
name

Source:   query [?? x 2]
Database: sqlite 3.11.1 [database.sqlite]

   player_api_id        player_name
           <int>              <chr>
1         505942 Aaron Appindangoye
2         155782    Aaron Cresswell
3         162549        Aaron Doran
4          30572      Aaron Galindo
5          23780       Aaron Hughes
6          27316         Aaron Hunt
7         564793         Aaron Kuhl
8          30895       Aaron Lennon
9         528212       Aaron Lennox
10        101042      Aaron Meijers
# ... with more rows

In [35]:
Player_Attributes <-tbl(mydb,"Player_Attributes")
attributes <-Player_Attributes %>%
mutate(GKoverall=gk_diving + gk_handling+ gk_kicking+ gk_positioning + gk_reflexes) %>%
select(player_api_id, overall_rating, GKoverall)
attributes

Source:   query [?? x 3]
Database: sqlite 3.11.1 [database.sqlite]

   player_api_id overall_rating GKoverall
           <int>          <int>     <int>
1         505942             67        43
2         505942             67        43
3         505942             62        43
4         505942             61        38
5         505942             61        38
6         155782             74        51
7         155782             74        51
8         155782             73        51
9         155782             73        51
10        155782             73        51
# ... with more rows

In [36]:
new_player <-inner_join(x = name,y = attributes,by = "player_api_id")
head(new_player,10)

Source:   query [?? x 4]
Database: sqlite 3.11.1 [database.sqlite]

   player_api_id        player_name overall_rating GKoverall
           <int>              <chr>          <int>     <int>
1         505942 Aaron Appindangoye             67        43
2         505942 Aaron Appindangoye             67        43
3         505942 Aaron Appindangoye             62        43
4         505942 Aaron Appindangoye             61        38
5         505942 Aaron Appindangoye             61        38
6         155782    Aaron Cresswell             74        51
7         155782    Aaron Cresswell             74        51
8         155782    Aaron Cresswell             73        51
9         155782    Aaron Cresswell             73        51
10        155782    Aaron Cresswell             73        51
# ... with more rows

In [37]:
final_player <- inner_join(x = data.frame(new_player),y = result,by = "player_api_id")
#final_player <-aggregate(cbind(overall_rating,GKoverall,appearences,LeagueNum) ~ player_api_id + player_name, final_player, max)
write.csv(final_player,"player.csv")

# Which are the top 10 players by overall rating?

In [38]:
player_overall <-final_player
player_overall <-aggregate(overall_rating ~ player_api_id + player_name, player_overall, max)
head(arrange(player_overall, desc(overall_rating)),10)

   player_api_id player_name       overall_rating
1  30981         Lionel Messi      94
2  30893         Cristiano Ronaldo 93
3  30717         Gianluigi Buffon  93
4  30829         Wayne Rooney      93
5  39989         Gregory Coupet    92
6  39854         Xavi Hernandez    92
7  30723         Alessandro Nesta  91
8  30955         Andres Iniesta    91
9  34520         Fabio Cannavaro   91
10 30657         Iker Casillas     91

# Which are the top 10 goalkeepers by sum of gk attributes?

In [39]:
player_gk <-final_player
player_gk <-aggregate(GKoverall ~ player_api_id + player_name, player_gk, max)
head(arrange(player_gk, desc(GKoverall)),10)

   player_api_id player_name       GKoverall
1   30717        Gianluigi Buffon  449
2   39989        Gregory Coupet    447
3   30859        Petr Cech         445
4   30657        Iker Casillas     442
5   27299        Manuel Neuer      440
6   30989        Julio Cesar       438
7   24503        Sebastian Frey    437
8   30726        Edwin van der Sar 436
9  182917        David De Gea      429
10  30660        Pepe Reina        428

# Which are the top 10 players by number of appearances

In [40]:
player_ap <-final_player
player_ap <-aggregate(appearences~ player_api_id + player_name, player_ap, max)
head(arrange(player_ap, desc(appearences)),10)

   player_api_id player_name          appearences
1  31293         Steve Mandanda       300
2  41097         Stephane Ruffier     294
3  33764         Gorka Iraizoz Moreno 286
4  42422         Samir Handanovic     286
5  26295         Hugo Lloris          282
6  31465         Tim Howard           282
7  31432         Joe Hart             275
8  26168         Cedric Carrasso      268
9  26399         Daniel Congre        262
10 94550         Moussa Sissoko       260

# Which are the top 10 players by number of leagues they played in?

In [41]:
player_l <-final_player
player_l <-aggregate(LeagueNum~ player_api_id + player_name, player_l, max)
head(arrange(player_l, desc(LeagueNum)),10)

   player_api_id player_name           LeagueNum
1   42119        Gelson Fernandes      6
2  178538        Filip Djuricic        5
3  116750        Ricky van Wolfswinkel 5
4  156534        Aleksandar Tonev      4
5  129918        Alfred Finnbogason    4
6   25816        Almen Abdi            4
7   93484        Aly Cissokho          4
8   46509        Angel Di Maria        4
9   96643        Bojan Krkic           4
10  38229        Bryan Ruiz            4

# Which are the top 10 teams by sum of build up play attributes?

In [22]:
team_play <-final_team
team_play <-aggregate(Play ~ team_api_id + team_long_name, team_play, max)
head(arrange(team_play, desc(Play)),10)

   team_api_id team_long_name             Play
1    9804      Torino                     209
2    8600      Udinese                    205
3    8194      Fortuna Düsseldorf         198
4    8033      Podbeskidzie Bielsko-Biała 193
5    8245      Korona Kielce              192
6  208931      Carpi                      190
7    8024      Widzew Łódź                190
8    8244      Widzew Łódź                190
9    9830      FC Nantes                  189
10   8543      Lazio                      188

# Which are the top 10 teams by sum of chance creation attributes?

In [26]:
team_creation <-final_team
team_creation <-aggregate(Creation ~ team_api_id + team_long_name, team_creation, max)
head(arrange(team_creation, desc(Creation)),10)

   team_api_id team_long_name      Creation
1  8543        Lazio               220
2  8697        SV Werder Bremen    216
3  9875        Napoli              215
4  8485        Aberdeen            210
5  8178        Bayer 04 Leverkusen 210
6  8658        Birmingham City     210
7  8191        Burnley             210
8  8344        Cardiff City        210
9  9860        Heart of Midlothian 210
10 8456        Manchester City     210

# Which are the top 10 teams by sum of defense attributes?

In [30]:
team_defense <-final_team
team_defense <-aggregate(Defense ~ team_api_id + team_long_name, team_defense, max)
head(arrange(team_defense, desc(Defense)),10)

   team_api_id team_long_name        Defense
1  8350        1. FC Kaiserslautern  210
2  8481        AS Nancy-Lorraine     210
3  9993        Beerschot AC          210
4  8658        Birmingham City       210
5  8483        Blackpool             210
6  8678        Bournemouth           210
7  8344        Cardiff City          210
8  9904        Hannover 96           210
9  8667        Hull City             210
10 1957        Jagiellonia Białystok 210

# Which are the top 10 teams by number of scored goals?

In [31]:
team_goal <-final_team
team_goal <-aggregate(goals ~ team_api_id + team_long_name, team_goal, max)
head(arrange(team_goal, desc(goals)),10)

   team_api_id team_long_name    goals
1   8634       FC Barcelona      849
2   8633       Real Madrid CF    843
3   9925       Celtic            695
4   9823       FC Bayern Munich  653
5   8640       PSV               652
6   8593       Ajax              647
7   9931       FC Basel          619
8   8456       Manchester City   606
9   8455       Chelsea           583
10 10260       Manchester United 582